{% extends '::base.html.twig' %}

{% block title %}The Exchange{%endblock%}
{% block content %}
<div class="title"><h5>Dashboard</h5></div>

<div class="widget first">
    <div class="head"><h5 class="iDownload3">This is the headline</h5></div>
    <div class="body">

    {% if exchange %}
        Exchange Name: {{exchange.name}}! This is changes on master PAST the branch..
    {% else %}
        No Exchanges!
    {% endif %}

    </div>
</div>

{% endblock %}