{% extends "::login.html.twig" %}

{% block content %}
{% if error %}
    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}


        <form action="{{ path("fos_user_security_check") }}" method="post" id="validate" class="form">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <fieldset>
                <div class="formRow">
                    <label for="login">Username:</label>
                    <div class="loginInput"><input type="text" id="username" name="_username" value="{{ last_username }}" class="validate[required]"></div>
                    <div class="clear"></div>
                </div>
                
                <div class="formRow">
                    <label for="pass">Password:</label>
                    <div class="loginInput"><input type="password" class="validate[required]" id="password" name="_password"></div>
                    <div class="clear"></div>
                </div>
                
                <div class="loginControl">
                    <div class="rememberMe"><div class="checker" id="uniform-remember_me"><span><input type="checkbox" id="remember_me" name="_remember_me" value="on" style="opacity: 0; "></span></div><label for="remember_me">Remember me</label></div>
                    <input type="submit" id="_submit" name="_submit" value="Log me in" class="dredB logMeIn">
                    <div class="clear"></div>
                </div>
            </fieldset>
        </form>
{% endblock content %}